---
layout: default
---
<div class="disclaimer" id="disclaimerBox">
  <span class="close-btn" id="closeDisclaimer">&times;</span>
  <p>
    <strong>Disclaimer:</strong> The section of this website is purely personal and
    does not relate to cybersecurity, digital forensics, or my professional career.
    This section is intended for personal blogging purposes only;.
  </p>
</div>
<div class="posts"> 
  {% assign sorted_categories = site.categories | sort %} 
  {% for category in sorted_categories %} 
  
  {% unless category[0] == "DFIR" %}
  <h1 class="category-title"> 
    {{ site.category_names[category[0]] | default: category[0] }} 
  </h1> 
  
  {% assign posts = category[1] | sort: "date" | reverse %} 
  {% for post in posts %} 
  <article class="post"> 
    <h3 class="post-title"> 
      <a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} 
      </a> 
    </h3> 
    <p class="post-date"> {{ post.date | date: "%B %d, %Y" }} 
    </p> 
  </article> 
  {% endfor %}
  {% endunless %}
  
  {% endfor %} 
</div>
